h2 {
    text-align: center;
}

table {

    border: 3px double black;
    width: 100%;

}   

td {
    border: 3px double black;
}

#eight, #nine,#e5771,#e89103 {
    background-color: pink;
}
#slr, #slrr{
    background-color: white;
    width: 20px;
}
#seven, #four, #five, #six{
    background-color: yellow;
}
#e3,#e11,#e19, #e37, #e55, #e87{
    background-color: magenta;
}
#e13, #e31,#e49, #e81, #e50,#e82,#e83{
    background-color: teal;
}
#e5, #e14, #e32, #e33, #e51,#e52, #e84{
    background-color: brown;
}
#e6,#e7,#e8, #e15, #e16, #e34{
    background-color: coral;
}
#e9,#e17,#e35,#e53,#e85{
    background-color: darkgoldenrod;
}
#e4, #e12, #e20, #e38, #e56, #e88{
    background-color: purple;
}
#e1{
    background-color: orange;
}
#e2, #e10, #e18,#e36,#e54,#e86{
    background-color: blue;
} 
#e113, #e114,#e115,#e116,#e117,#e118{
    background-color: white;
}
