a:hover{
    color: brown;
}
a:visited{
    color: darkmagenta;
}
h3::first-letter{
    font-size:xx-large;
}
#banner{
    text-transform:uppercase;
    font-size: inherit;
    text-shadow: 4px 0px 2px rgba(150, 150, 150, 1);
}
li:first-child{
    color: blue;
}
em{
    font-weight: bolder;
}
